{% extends "admin/core/base.html" %}

{% block title %}APC Management{% endblock %}
{% block title-section %}APC Management{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'apc_index' %}">APC Management Plugin</a></li>
{% endblock breadcrumbs %}

{% block body %}
    <section class="content">
        <div class="row expanded">
            <div class="large-12 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>Articles Ready for Invoicing</h2>
                        <a href="{% url 'apc_settings' %}" class="button" target="_blank">Edit APC Settings</a>
                    </div>
                    <div class="content">

                        <ul class="tabs" data-tabs id="round-tabs">
                            <li class="tabs-title is-active">
                                <a href="#tab-ready" aria-selected="true">Ready for Invoicing</a>
                            </li>
                            <li class="tabs-title">
                                <a href="#tab-paid" aria-selected="true">Paid</a>
                            </li>
                            <li class="tabs-title">
                                <a href="#tab-nonpay" aria-selected="true">Unpaid</a>
                            </li>
                        </ul>
                        <div class="tabs-content" data-tabs-content="round-tabs">
                            <div class="tabs-panel" id="tab-ready">
                                <table class="apctable">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Date Accepted</th>
                                        <th>Published</th>
                                        <th>Section</th>
                                        <th>APC</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for apc in articles_for_invoicing %}
                                        <tr>
                                            <td>{{ apc.article.title|safe }}</td>
                                            <td>{{ apc.article.date_accepted }}</td>
                                            <td>{{ apc.article.date_published }}</td>
                                            <td>{{ apc.article.section.name }}</td>
                                            <td>{{ apc.value }} {{ apc.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="tabs-panel" id="tab-paid">
                                <table class="apctable">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Date Accepted</th>
                                        <th>Published</th>
                                        <th>Section</th>
                                        <th>APC</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for apc in articles_paid %}
                                        <tr>
                                            <td>{{ apc.article.title|safe }}</td>
                                            <td>{{ apc.article.date_accepted }}</td>
                                            <td>{{ apc.article.date_published }}</td>
                                            <td>{{ apc.article.section.name }}</td>
                                            <td>{{ apc.value }} {{ apc.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>

                            <div class="tabs-panel" id="tab-nonpay">
                                 <table class="apctable">
                                    <thead>
                                    <tr>
                                        <th>Title</th>
                                        <th>Date Accepted</th>
                                        <th>Published</th>
                                        <th>Section</th>
                                        <th>APC</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for apc in articles_unpaid %}
                                        <tr>
                                            <td>{{ apc.article.title|safe }}</td>
                                            <td>{{ apc.article.date_accepted }}</td>
                                            <td>{{ apc.article.date_published }}</td>
                                            <td>{{ apc.article.section.name }}</td>
                                            <td>{{ apc.value }} {{ apc.currency }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row expanded" data-equalizer>
            <div class="large-6 columns" >
                <div class="box" data-equalizer-watch>
                    <div class="title-area">
                        <h2>Waiver Applications</h2>
                        <a href="/admin/apc/waiverapplication/" class="button">Waiver Admin</a>
                    </div>
                    <div class="content">
                        <table class="apctable">
                            <thead>
                                <th>Article</th>
                                <th>Status</th>
                                <th>Started</th>
                            </thead>
                            <tbody>
                                {% for application in waiver_applications %}<tr>
                                    <td><a href="{% url 'apc_waiver_application' application.pk %}">{{ application.article.title }}</a></td>
                                    <td>{{ application.get_status_display }}</td>
                                    <td>{{ application.made }}</td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="large-6 columns" >
                <div class="box" data-equalizer-watch>
                    <div class="title-area">
                        <h2>Sections</h2>
                    </div>
                    <div class="content">
                        <table id="test" class="apctable">
                            <thead>
                                <th>Name</th>
                                <th>Submission</th>
                                <th>APC Set</th>
                            </thead>
                            <tbody>
                            {% for section in sections %}<tr>
                                <td><a href="#" data-open="set_apc_{{ section.pk }}">{{ section.name }}</a></td>
                                <td><i class={% if section.public_submissions %}"fa fa-check-circle-o" class="green"{% else %}"fa fa-times-circle-o" class="red"{% endif %}></i></td>
                                <td><i class={% if section.sectionapc %}"fa fa-check-circle-o" class="green"{% else %}"fa fa-times-circle-o" class="red"{% endif %}></i></td>
                            </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for section in sections %}
    {% include "apc/set_apc.html" %}
    {% endfor %}
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target=".apctable" sort=0 page_length=10 %}
{% endblock %}