{% extends "admin/core/base.html" %}

{% block title %}APC Management{% endblock %}
{% block title-section %}APC Management{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'apc_index' %}">APC Management Plugin</a></li>
{% endblock breadcrumbs %}

{% block body %}
    <section class="content">
        <div class="row expanded">
            <div class="large-12 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>Articles Ready for Invoicing</h2>
                        <a href="{% url 'apc_settings' %}" class="button">Edit APC Settings</a>
                    </div>
                    <div class="content">
                        <p> Hi</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row expanded" data-equalizer>
            <div class="large-6 columns" >
                <div class="box" data-equalizer-watch>
                    <div class="title-area">
                        <h2>Waiver Applications</h2>
                    </div>
                    <div class="content">
                        <table class="apctable">
                            <thead>
                                <th>Article</th>
                                <th>Status</th>
                                <th>Started</th>
                            </thead>
                            <tbody>
                                {% for application in waiver_applications %}<tr>
                                    <td><a href="{% url 'apc_waiver_application' application.pk %}">{{ application.article.title }}</a></td>
                                    <td>{{ application.get_status_display }}</td>
                                    <td>{{ application.made }}</td>
                                </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="large-6 columns" >
                <div class="box" data-equalizer-watch>
                    <div class="title-area">
                        <h2>Sections</h2>
                    </div>
                    <div class="content">
                        <table id="test" class="apctable">
                            <thead>
                                <th>Name</th>
                                <th>Submission</th>
                                <th>APC Set</th>
                            </thead>
                            <tbody>
                            {% for section in sections %}<tr>
                                <td><a href="#" data-open="set_apc_{{ section.pk }}">{{ section.name }}</a></td>
                                <td><i class={% if section.public_submissions %}"fa fa-check-circle-o" class="green"{% else %}"fa fa-times-circle-o" class="red"{% endif %}></i></td>
                                <td><i class={% if section.sectionapc %}"fa fa-check-circle-o" class="green"{% else %}"fa fa-times-circle-o" class="red"{% endif %}></i></td>
                            </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% for section in sections %}
    {% include "apc/set_apc.html" %}
    {% endfor %}
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target=".apctable" sort=0 page_length=10 %}
{% endblock %}