{% extends "admin/core/base.html" %}

{% block title %}APC Management{% endblock %}
{% block title-section %}APC Management{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'bc_index' %}">Back Content Plugin</a></li>
{% endblock breadcrumbs %}

{% block body %}
    <section class="content">
        <div class="row expanded">
            <div class="large-12 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>Articles Ready for Invoicing</h2>
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>Waiver Applications</h2>
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>Sections</h2>
                    </div>
                    <div class="content">
                        <table id="test" class="apctable">
                            <thead>
                                <th>Name</th>
                                <th>Available for Submission</th>
                                <th></th>
                            </thead>
                            <tbody>
                            {% for section in sections %}<tr>
                                <td>{{ section.name }}</td>
                                <td><i class={% if section.public_submissions %}"fa fa-check-circle-o" class="green"{% else %}"fa fa-times-circle-o" class="red"{% endif %}></i></td>
                                <td></td>
                            </tr>{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#test" sort=0 %}
{% endblock %}