{% extends "admin/core/base.html" %}

{% block title %}APC Management{% endblock %}
{% block title-section %}APC Management{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'apc_index' %}">APC Management Plugin</a></li>
    <li>Settings</li>
{% endblock breadcrumbs %}

{% block body %}
    <section class="content">
        <div class="row expanded">
            <div class="large-12 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>Enable APCs for {{ request.journal.name }}</h2>
                    </div>
                    <div class="content">
                        <div class="row expanded">
                            <div class="large-8 columns">
                                <form method="POST">
                                    {% csrf_token %}
                                    <h4>APCs</h4>
                                    <label for="enable_apcs">{{ form.enable_apcs.label }}
                                        {{ form.enable_apcs }}
                                    </label>
                                    <label for="track_apcs">{{ form.track_apcs.label }}
                                        {{ form.track_apcs }}
                                    </label>
                                    <hr/>
                                    <h4>Author Contribution Mode</h4>
                                    <label for="author_contribution_mode">{{ form.author_contribution_mode.label }}
                                        {{ form.author_contribution_mode }}
                                    </label>

                                    <div id="waiver-settings" {% if form.author_contribution_mode.value != 'waiver' %}style="display:none;"{% endif %}>
                                        <label for="waiver_text">{{ form.waiver_text.label }}
                                            {{ form.waiver_text }}
                                        </label>
                                    </div>

                                    <div id="vac-settings" {% if form.author_contribution_mode.value != 'vac' %}style="display:none;"{% endif %}>
                                        <label for="vac_text">{{ form.vac_text.label }}
                                            {{ form.vac_text }}
                                        </label>
                                    </div>
                                    <button name="save" class="success button">Save</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {% include "elements/jqte.html" %}
    <script>
        document.getElementById('author_contribution_mode').addEventListener('change', function() {
            var waiverSettings = document.getElementById('waiver-settings');
            var vacSettings = document.getElementById('vac-settings');
            waiverSettings.style.display = this.value === 'waiver' ? '' : 'none';
            vacSettings.style.display = this.value === 'vac' ? '' : 'none';
        });
    </script>
{% endblock %}
